
.sidebar {
    color: #980709; /* dark red */
    border-right: solid;
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    background: black
}

.sidebar img {
    height: auto;
    width: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.sidebar p {
    border: solid;
    color: white;
    background: #234135; /* dark green */
}

.sidebar a:link {
    color: #980709; /* dark red */
}

.sidebar a:visited {
    color: #a1ada5; /* pale green */
}

body {
    font-family: Georgia, serif;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 20%;
    margin-right: 2.5%;
    text-align: center;
    background: black url("img/marble.png");
    background-size: 15%;
    /* image rendering to prevent blurry images */
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
}

.main h1 {
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #234135; /* dark green */
    font-size: 4rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-left: 20%;
    margin-right: 20%;
}

.main h2 {
    background-color: #bdbcbb; /* light gray */
    margin-top: -20px;
    margin-left: 25%;
    margin-right: 25%;
}

.main h3 {
    color: white;
    background-color: #980709; /* dark red */
}

.main p {
    border-style: solid;
    color: white;
    background-color: #980709; /* dark red */
    text-align: left;
}


.guestbook {

}

@media screen and (max-width: 600px) {
    .main h1 {
        font-size: .5rem;
    }
